.pickle filter=lfs diff=lfs merge=lfs -text
PICKLE filter=lfs diff=lfs merge=lfs -text
.PICKLE filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.PICKLE filter=lfs diff=lfs merge=lfs -text
