include README.rst
include LICENSE
include pyproject.toml
include src/multitfa/_version.py
include src/multitfa/data/component_data.npz
include src/multitfa/data/compounds_cache.pickle
include src/multitfa/test_model/model/e_coli_core.mat